<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ object.image.url }}" class="img-fluid rounded-start">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                {{ object.prefab_path }}
                <table class="table table-sm p-0 m-0">
                    <tr>
                        <td colspan="4"><h5 class="card-title p-0 m-0">{{ object.name }}</h5></td>
                        <th>Level</th>
                        <td>{{ object.level }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><i class="fa-duotone fa-heart-pulse"></i> {{ object.health|floatformat }}</td>
                        <td><i class="fa-duotone fa-atom"></i> {{ object.energy|floatformat }}</td>
                        <td><i class="fa-duotone fa-person-running"></i> {{ object.stamina|floatformat }}</td>
                        <td><i class="fa-duotone fa-brain"></i> {{ object.intellect|floatformat }}</td>
                        <td><i class="fa-duotone fa-shield"></i> {{ object.endurance|floatformat }}</td>
                    </tr>
                    <tr>
                        <td><i class="fa-duotone fa-plus"></i>&nbsp;{{ object.damage|floatformat }}</td>
                        <td class="text-danger"><i class="fa-duotone fa-fire"></i> {{ object.red_damage|floatformat }}</td>
                        <td class="text-primary"><i class="fa-duotone fa-water"></i> {{ object.blue_damage|floatformat }}</td>
                        <td class="text-success"><i class="fa-duotone fa-earth-americas"></i> {{ object.green_damage|floatformat }}</td>
                        <td class="text-secondary"><i class="fa-duotone fa-feather-pointed"></i> {{ object.white_damage|floatformat }}</td>
                        <td class=""><i class="fa-duotone fa-book-skull"></i> {{ object.black_damage|floatformat }}</td>
                    </tr>
                    <tr>
                        <td><i class="fa-duotone fa-minus"></i>&nbsp;{{ object.resistance|floatformat }}</td>
                        <td class="text-danger"><i class="fa-duotone fa-fire"></i> {{ object.red_resistance|floatformat }}</td>
                        <td class="text-primary"><i class="fa-duotone fa-water"></i> {{ object.blue_resistance|floatformat }}</td>
                        <td class="text-success"><i class="fa-duotone fa-earth-americas"></i> {{ object.green_resistance|floatformat }}</td>
                        <td class="text-secondary"><i class="fa-duotone fa-feather-pointed"></i> {{ object.white_resistance|floatformat }}</td>
                        <td class=""><i class="fa-duotone fa-book-skull"></i> {{ object.black_resistance|floatformat }}</td>
                    </tr>
                </table>
                <p class="card-text">{{ object.description }}</p>
            </div>
            <!-- <div class="card-footer text-muted">
                <p class="card-text"><small class="text-muted">Last updated {{ object.updated_at }}</small></p>
            </div> -->
        </div>
    </div>
</div>