{% extends "core/weapons/weapons_base.html" %}

{% load django_bootstrap5  %}

{% block extrahead %}
{{ block.super }}
<style>
    #id_red_damage, #id_red_resistance { background:#dc3545; }
    #id_blue_damage, #id_blue_resistance { background:#0d6efd; }
    #id_green_damage, #id_green_resistance { background:#198754; }
    #id_white_damage, #id_white_resistance { background:#6c757d; }
    #id_black_damage, #id_black_resistance { background:#212529;color:white; }
    .fw-400 { font-weight:400; }
</style>
{% endblock %}

{% block actions %}
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_field form.name %}
    <div class="row">
        <div class="col-6">
            {% bootstrap_field form.kind size='sm'  %}
        </div>
        <div class="col-6">
            {% bootstrap_field form.image size='sm'  %}
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            {% bootstrap_field form.level size='sm' %}
        </div>
        <div class="col-4">
            {% bootstrap_field form.health size='sm' %}
        </div>
        <div class="col-4">
            {% bootstrap_field form.energy size='sm' %}
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            {% bootstrap_field form.stamina size='sm' %}
        </div>
        <div class="col-4">
            {% bootstrap_field form.intellect size='sm' %}
        </div>
        <div class="col-4">
            {% bootstrap_field form.endurance size='sm' %}
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            {% bootstrap_field form.weight size='sm' %}
        </div>
        <div class="col-4">
            {% bootstrap_field form.durability size='sm' %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% bootstrap_field form.description size='sm' %}
        </div>
    </div>
    <div class="row">
        <h6 class="fw-400">Damage</h6>
        <div class="col-2">
            {% bootstrap_field form.damage size='sm' show_label=False %}
        </div>
        <div class="col-2">
            {% bootstrap_field form.red_damage size='sm' show_label=False %}
        </div>
        <div class="col-2">
            {% bootstrap_field form.blue_damage size='sm' show_label=False %}
        </div>
        <div class="col-2">
            {% bootstrap_field form.green_damage size='sm' show_label=False %}
        </div>
        <div class="col-2">
            {% bootstrap_field form.white_damage size='sm' show_label=False %}
        </div>
        <div class="col-2">
            {% bootstrap_field form.black_damage size='sm' show_label=False %}
        </div>
    </div>
    <div class="row">
        <h6 class="fw-400">Resistance</h6>
        <div class="col-2">
            {% bootstrap_field form.resistance size='sm' show_label=False %}
        </div>
        <div class="col-2">
            {% bootstrap_field form.red_resistance size='sm' show_label=False %}
        </div>
        <div class="col-2">
            {% bootstrap_field form.blue_resistance size='sm' show_label=False %}
        </div>
        <div class="col-2">
            {% bootstrap_field form.green_resistance size='sm' show_label=False %}
        </div>
        <div class="col-2">
            {% bootstrap_field form.white_resistance size='sm' show_label=False %}
        </div>
        <div class="col-2">
            {% bootstrap_field form.black_resistance size='sm' show_label=False %}
        </div>
    </div>
    <button class="btn btn-primary">Save</button>
</form>
{% endblock %}