{% extends "base.html" %}

{% load cache i18n %}

{% block content %}
{# {% cache 60 name %} #}
<div class="row mb-4">
    <div class="col">
        <img src="{{ team.logo_url }}" />
        <h1>{{ team.name }}</h1>
    </div>
</div>

<div class="row mb-2">
    <div class="col border-bottom"><h3>Team Rushing Leaders</h3></div>
</div>
<div class="row row-cols-1 row-cols-md-4 mb-4">
    {% translate "Attempts" as attempts_title %}
    {% include 'core/widgets/_stat_leader_showcase.html' with title=attempts_title name="Test 123" stat=123 %}
    {% translate "Yards" as yards_title %}
    {% include 'core/widgets/_stat_leader_showcase.html' with title=yards_title name="Test 456" stat=456 %}
    {% translate "Touchdowns" as touchdowns_title %}
    {% include 'core/widgets/_stat_leader_showcase.html' with title=touchdowns_title name="Test 789" stat=789 %}
    {% translate "1st Downs" as first_title %}
    {% include 'core/widgets/_stat_leader_showcase.html' with title=first_title name="Test 246" stat=246 %}
 </div>


<div class="row">
    <div class="col-12 border-bottom mb-2"><h3>Team Rushing Stats</h3></div>
    <div class="col-12">
        <table class="table table-bordered table-striped table-sm table-dark">
            <tr>
                <th>Player Name</th>
                <th>Position</th>
                <th>ATT</th>
                <th>ATT/G</th>
                <th>YDS</th>
                <th>AVG</th>
                <th>YDS/G</th>
                <th>TD</th>
                <th>LNG</th>
                <th>1St</th>
                <th>1st%</th>
                <th>20+</th>
                <th>40+</th>
                <th>FUM</th>
            </tr>
            {% for stat in team.get_current_season_stats %}
            {% include 'core/widgets/_player_stats_table_row.html' with stat=stat show_player_info=True show_team_logo=False %}
            {% endfor %}
        </table>
    </div>
</div>
{# {% endcache %} #}
{% endblock %}