{% extends "base.html" %}

{% load cache i18n %}

{% block content %}
{# {% cache 60 name %} #}
<div class="row mb-4">
    <div class="col">
        <img src="{{ team.logo_url }}" />
        <h1>{{ team.name }}</h1>
    </div>
</div>

<div class="row mb-2">
    <div class="col border-bottom"><h4>{% translate "Team Rushing Leaders" %}</h4></div>
</div>
<div class="row row-cols-1 row-cols-md-4 mb-4">
    {% include 'core/widgets/_stats_leader_showcase.html' with stats=team.get_current_season_stats show_player_image=True %}
</div>

<div class="row mb-2">
    <div class="col border-bottom"><h4>{% translate "Team Rushing Stats" %}</h4></div>
</div>
<div class="row">
    <div class="col-12">
        {% include 'core/widgets/_stats_table.html' with stats=team.get_current_season_stats show_player_info=True show_team_logo=False %}
    </div>
</div>
{# {% endcache %} #}
{% endblock %}