{% if show_player_image %}<a href="{% url 'core:player-stats-view' player.id %}">{% endif %}
    <div class="col">
        <h5>{{ title }} </h5>
        <div class="card">
            {% if show_player_image %}
            <div class="card-img-top text-center p-2">
                <i class="fas fa-user" style="font-size:15em;"></i>
            </div>
            {% endif %}
            <div class="card-body">
                {% if show_player_image %}
                <div class="card-text d-flex flex-row justify-content-center"><h4>{{ player.name }}</h4></div>
                {% endif %}
                <div class="card-text d-flex flex-row justify-content-center"><h5>{{ stat }}</h5></div>
            </div>
        </div>
    </div>
{% if show_player_image %}</a>{% endif %}